<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>instants</key>
	<dict>
		<key>post</key>
		<string>/api/instants</string>
	</dict>
	<key>favorites</key>
	<dict>
		<key>post</key>
		<string>/api/favorites/:mode</string>
		<key>get_status</key>
		<string>/api/favorites/marked/:object_id/:object_type/:user_id</string>
		<key>get</key>
		<string>/api/favorites/list/:id</string>
	</dict>
	<key>ownerships</key>
	<dict>
		<key>get</key>
		<string>/api/ownerships/list/:id</string>
	</dict>
	<key>trips</key>
	<dict>
		<key>get</key>
		<string>/api/trips?</string>
	</dict>
	<key>cycling_groups</key>
	<dict>
		<key>get</key>
		<string>/api/cycling_groups?</string>
	</dict>
	<key>cycle_paths</key>
	<dict>
		<key>get</key>
		<string>/api/cycle_paths?</string>
	</dict>
	<key>profiles</key>
	<dict>
		<key>post</key>
		<string>/api/profiles/:id.json</string>
		<key>get</key>
		<string>/api/profiles/:id</string>
	</dict>
	<key>routes</key>
	<dict>
		<key>show</key>
		<string>/api/routes/:id</string>
		<key>get</key>
		<string>/api/routes?</string>
	</dict>
	<key>cycle_stations</key>
	<dict>
		<key>get</key>
		<string>/api/cycle_stations?</string>
	</dict>
	<key>workshops</key>
	<dict>
		<key>delete</key>
		<string>/api/workshops/:id</string>
		<key>put</key>
		<string>/api/workshops/:id</string>
		<key>post</key>
		<string>/api/workshops</string>
		<key>get</key>
		<string>/api/workshops?</string>
	</dict>
	<key>loginUsers</key>
	<string>/api/users/sign_in.json</string>
	<key>parkings</key>
	<dict>
		<key>delete</key>
		<string>/api/parkings/:id</string>
		<key>get</key>
		<string>/api/parkings?</string>
		<key>put</key>
		<string>/api/parkings/:id</string>
		<key>post</key>
		<string>/api/parkings</string>
	</dict>
	<key>tips</key>
	<dict>
		<key>delete</key>
		<string>/api/tips/:id</string>
		<key>put</key>
		<string>/api/tips/:id</string>
		<key>post</key>
		<string>/api/tips</string>
		<key>get</key>
		<string>/api/tips?</string>
	</dict>
	<key>backendURLDev</key>
	<string>http://192.168.1.67:3000</string>
	<key>createUsers</key>
	<string>/api/users.json</string>
	<key>backendURL</key>
	<string>http://wikicleta.com</string>
</dict>
</plist>
