<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>routes</key>
	<dict>
		<key>show</key>
		<string>/api/routes/:id</string>
		<key>get</key>
		<string>/api/routes?</string>
	</dict>
	<key>cycle_stations</key>
	<dict>
		<key>get</key>
		<string>/api/cycle_stations?</string>
	</dict>
	<key>workshops</key>
	<dict>
		<key>get</key>
		<string>/api/workshops?</string>
	</dict>
	<key>loginUsers</key>
	<string>/api/users/sign_in.json</string>
	<key>parkings</key>
	<dict>
		<key>delete</key>
		<string>/api/parkings/:id</string>
		<key>get</key>
		<string>/api/parkings?</string>
		<key>put</key>
		<string>/api/parkings/:id</string>
		<key>post</key>
		<string>/api/parkings</string>
	</dict>
	<key>tips</key>
	<dict>
		<key>post</key>
		<string>/api/tips</string>
		<key>get</key>
		<string>/api/tips?</string>
	</dict>
	<key>backendURLDev</key>
	<string>http://192.168.1.64:3000</string>
	<key>createUsers</key>
	<string>/api/users.json</string>
	<key>backendURL</key>
	<string>http://wikicleta.com</string>
</dict>
</plist>
